@import "tailwindcss";

@theme{
   
    /* Colors */
    
    --color-curry:#FDD36B;
    --color-light-green:#234046;
    --color-dark-green:#DAF2F6; 
    --color-off-white:#192D30;
    --color-curry:#FDD36B

}