@import "tailwindcss";

@theme{
   
    /* Colors */
    
    --color-curry:#FDD36B;
    --color-light-green:#234046;
    --color-dark-green:#192D30;
    --color-off-white:#DAF2F6;
    --color-curry:#FDD36B;
}